body {
  background-color: #747384;
  margin: 0;
  font-family: "DotGothic16", sans-serif;
  color: white;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #53883A;
  color: #222;
  text-align: center;
  border-radius: 50%;
}



.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
}

.card-subtitle {
  font-weight: lighter;
  color: #12470E;
  margin-top: 5px;
}

.card-image {
  height: 180px;
  margin: 0, auto;
}

#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}
